<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>

<p>
  <% unless @user.image.url == nil %>
  <strong>プロフィール画像:</strong>
  <%= image_tag @user.image.url, size: '300x200' %>
  <% end %>
</p>

<td><%= link_to 'プロフィール編集',edit_user_path if @user.id == current_user.id %></td>

<%= link_to '投稿一覧', pictures_path %>

<%= link_to "お気に入り一覧", favorites_path %>